body {
  background-color: rgb(85, 85, 92);
  color: white;
  font-family: "Gill Sans";
}

#my_id {
  color: rgb(60, 255, 226);
  text-align: center;
}
.my_class {
  font-size: 20px;
  border: dashed;
  padding: 2%;
}

a {
  color: yellow;
}

img {
  max-width: 450px;
  max-height: 450px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
